all: build 

build: build-config.rb src/bashlib.sh.erb src/profile.sh.erb
	mkdir build 
	erb -r ./build-config.rb src/bashlib.sh.erb > build/bashlib.sh
	erb -r ./build-config.rb src/profile.sh.erb > build/opt-sw-dist.sh


install:	build/bashlib.sh build/opt-sw-dist.sh README.md
	install -d -m 755 \
		<%= @destdir %><%= @docdir %>/opt-sw-dist/example/src/ \
		<%= @destdir %>/etc/profile.d/ \
		<%= @destdir %><%= @datadir %>/opt-sw-dist/  \
		<%= @destdir %><%= @bindir %> \
		<%= @destdir %><%= @sbindir %> \
		<%= @destdir %><%= @libexecdir %> \
		<%= @destdir %><%= @datadir %> \
		<%= @destdir %><%= @sysconfdir %>\
		<%= @destdir %><%= @localstatedir %>\
		<%= @destdir %><%= @sharedstatedir %>\
		<%= @destdir %><%= @libdir %>\
		<%= @destdir %><%= @includedir %>\
		<%= @destdir %><%= @infodir %>\
		<%= @destdir %><%= @mandir %>
	install -m 644 build/bashlib.sh <%= @destdir %><%= @datadir %>/opt-sw-dist/ 
	install -m 644 build/opt-sw-dist.sh <%= @destdir %>/etc/profile.d/
	install -m 644 README.md LICENSE <%= @destdir %><%= @docdir %>/opt-sw-dist/
	install -m 644 Makefile.erb opt-sw-dist.spec <%= @destdir %><%= @docdir %>/opt-sw-dist/example/
	install -m 755 configure <%= @destdir %><%= @docdir %>/opt-sw-dist/example/
	install -m 644 src/* <%= @destdir %><%= @docdir %>/opt-sw-dist/example/src/

clean:
	rm -rf build
