#This is a script library that can be sourced by bash scripts to define ENV variables and functions.
#

case :$PATH: in
  *:<%= @bindir %>:*) ;;
  *) export PATH=$PATH:<%= @bindir %>:<%= @sbindir %> ;;
esac

case :$MANPATH: in
  *<%= @mandir %>*) ;;
  *) export MANPATH=$MANPATH:<%= @mandir %> ;;
esac

function _<%= @OPT_FUNC %>_environment {

# Sets the minimum list of paths
<%= @OPT_ENV %>_PREFIX=${<%= @OPT_ENV %>_PREFIX:-<%= @prefix %>}
<%= @OPT_ENV %>_SYSCONFDIR=${<%= @OPT_ENV %>_SYSCONFDIR:-<%= @sysconfdir %>}
<%= @OPT_ENV %>_LOCALSTATEDIR=${<%= @OPT_ENV %>_LOCALSTATEDIR:-<%= @localstatedir %>}
<%= @OPT_ENV %>_EXEC_PREFIX=${<%= @OPT_ENV %>_EXEC_PREFIX:-<%= @prefix %>}
<%= @OPT_ENV %>_BINDIR=${<%= @OPT_ENV %>_BINDIR:-<%= @bindir %>} 
<%= @OPT_ENV %>_SBINDIR=${<%= @OPT_ENV %>_SBINDIR:-<%= @sbindir %>} 
<%= @OPT_ENV %>_LIBEXECDIR=${<%= @OPT_ENV %>_LIBEXECDIR:-<%= @libexecdir %>} 
<%= @OPT_ENV %>_DATADIR=${<%= @OPT_ENV %>_DATADIR:-<%= @datadir %>} 
<%= @OPT_ENV %>_SHAREDSTATEDIR=${<%= @OPT_ENV %>_SHAREDSTATEDIR:-<%= @sharedstatedir %>}
<%= @OPT_ENV %>_LIBDIR=${<%= @OPT_ENV %>_LIBDIR:-<%= @libdir %>}
<%= @OPT_ENV %>_INCLUDEDIR=${<%= @OPT_ENV %>_INCLUDEDIR:-<%= @includedir %>} 
<%= @OPT_ENV %>_INFODIR=${<%= @OPT_ENV %>_INFODIR:-<%= @infodir %>} 
<%= @OPT_ENV %>_MANDIR=${<%= @OPT_ENV %>_MANDIR:-<%= @mandir %>} 
<%= @OPT_ENV %>_DOCDIR=${<%= @OPT_ENV %>_DOCDIR:-<%= @docdir %>} 

case "$1" in
  set)
    
    for local_variable in $(set | grep ^<%= @OPT_ENV %>_ | cut -f1 -d=)
    do
      export $local_variable
    done
    unset local_variable
    ;;
  unset)

    for local_variable in $(set | grep ^<%= @OPT_ENV %>_ | cut -f1 -d=)
    do
      unset $local_variable
    done
    unset local_variable
    ;;
  *)
    echo "The following <%= @OPT_ENV %> environmental variables are defined."
    env | grep <%= @OPT_ENV %>_*
    ;;

esac

}

