# The default config only sets the PATH and MANPATH variables 
# and the _<%= @OPT_FUNC %>_environment function.
# You can adjust the configuration of the environmental variables
# by adding code above or below the line below.

source /<%= @OPT_PATH %>/share/opt-sw-dist/bashlib.sh


